@import url(https://fonts.googleapis.com/css?family=Inter);

/* font styling: applies to all selectors */
*{
    font-family: 'Inter', sans-serif;
    /* background-color: blue; */
}
nav {
    margin: 0;
    padding: 0;
    background-color:black;
    overflow: hidden;
    height: 60px;
}

.primary-nav a{
    margin: 0 !important;
    color:white;
    text-decoration: none;
    text-align: center;
    /* padding:  */
}
.primary-nav a:hover{
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
.primary-nav li{
    display: inline;
}
/* taken from in-class example */
.primary-nav .flex-container {
    display: flex;
    justify-content: space-around;  
    /* justify-content: flex-start | flex-end | center | space-between | space-around */
    align-items: center;
    /* align-items: flex-start | flex-end | center | baseline | stretch */
    flex-direction: row;
    /*flex-direction: row | row-reverse | column | column-reverse*/
}

header {
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 100%;
    background-size: cover;
}

.section {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.section h2{
    text-align: center;
}

.flex-container {
    display: flex;
    /* justify-content: flex-end; */
    /* position:rel */
}

.full-width {
    /* width: 100% */
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
} 
ul.flex-container{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
}

ul.flex-container li{
    display: block;
    text-align: center;
}

p {
    text-align: center;
    margin:0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}

main{
    width: 90%;
    align-content: center;
}

.cover {
    justify-content: center;
    padding: 0;
    margin: 0;
    background-image: url(stock-background.jpg);
    background-position: center;
    background-size: cover;
}

/* adapted from https://www.webfx.com/blog/web-design/ghost-buttons/ */
.ghost-button {
    display: inline-block;
    align-content: center;
    text-align: center;
    justify-content: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    outline: none;
    text-decoration: none;
    padding: 15px;
    margin: 20px;
}
.ghost-button:hover {
    background-color:white;
    color: black;
}

.page-title{
    text-align: center;
    padding: 50px;
    margin: 50px;
}

/* CSS for locations in header*/
ul li{
    width: 30%;
}
ul li i{
    font-size:2em; 
}
ul li i:hover{
    font-size:2.5em; 
    color: lightskyblue;
}

/* for social media widget under contact */
.social-media{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    margin: 20px;
}
.social-media li a{
    color: black;
    font-size:2.5em;
}

div.spacer{
    padding: 20px;
    margin: 20px;
}

div{
    padding: 0;
    margin: 0;
}
footer{
    background-color: grey;
    text-align: center;
    color: white;
    padding: 10px;
}


@media only screen and (max-width: 640px) {


    header ul li{
        width: 90%;
        padding-top: 30px;
    }

    header ul.flex-container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .social-media{
        justify-content: space-between;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin: 20px;
    }
    .social-media li a{
        color: black;
        font-size: 1em;
    }
}